html,
body {
    border:0;
    padding:0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}
#root {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.messages {
    border: 1px solid silver;
    height: 80%;
    padding: 1% 1%;
    margin-bottom:1%;
    box-sizing: border-box;
}
.messages.emptyList{
    border:none;
    background-color: lightgray;
}

.messages p {
    padding: 10px;
    word-wrap: break-word;
    line-height: 150%;
    box-sizing: border-box;
}
.messages .delete {
    float: right;
    padding: 0 5px;
    cursor: pointer;
    text-align:center;
}
.messages .delete:hover {
    background-color: silver;
}
.messages .time {
    padding-left: 10px;
    font-size: 100%;
    font-style: italic;
    color: #bbb;
}
.message {
    width: 100%;
    height: 10%;
    border: 1px solid silver;
    padding: 1%;
    box-sizing: border-box;
}
